* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-top:  1px solid black;
  margin: auto;
  width: 70%;
}


td{
  width: 25%;
  padding: 2%;
  text-align: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
   background-color: rgb(168, 166, 166);
}

.right{
  border-right: none;
  border-left: none;
  background-color: rgb(255, 168, 7);
}

.right:first-child{
    background: none;
    padding: 0;
}

input{
    width: 100%;
    font-size: 1.4em;
    padding: 1%;
    border: none;
    text-align: right;
    outline: none;
    background-color: rgb(168, 166, 166);
}


